/* MIS VARIABLES */
// Fuentes
$fuentes: 'Montserrat', sans-serif;
// Colores
$negro: #0a0a0a;
$negro-2: #111111;
$negro-3: #222222;
$blanco: #ffffff;
$primario: #ff6079;
$primario-2: #fe3051;
$gris: #a1b0bf;

// Genericos
body {
  font-family: $fuentes;
  font-size: 1rem;
  font-weight: 300;
  color: $blanco;
  background-color: $negro;
}

// Navbar
.navbar {
    box-shadow: 1px 1px 5px $negro-3;
    opacity: 99%; //90%
    min-height: 5rem;
    // Marca
    .navbar-brand {
        font-size: 25px;
        color: $primario-2;
        font-weight: bold;
    }
}

// Mis fondos
.bg-image-1 {
    background-image: url('../images/bg-dark-1.svg');
    background-size: cover;
    min-height: 1000px;
}

.bg-image-2 {
    background-image: url('../images/bg-dark-2.svg');
    background-size: cover;
    min-height: 1000px;
}

.bg-image-3 {
    background-image: url('../images/bg-dark-3.svg');
    background-size: cover;
    min-height: 500px;
}

.card-caracteristicas {
    height: 93%;
}

/* BOOTSTRAP TEMA */

// Fuentes y texto
.font-weight-bold { 
  font-weight: 600 !important; 
}

.text-primary {
  // Le hacemos un degradado...
  background: linear-gradient(90deg, $primario 0%, $primario-2 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-muted {
  color: $gris !important;
}

h1, h2, h3, h4, h5, h6 { font-weight: 300; }

small { 
  font-weight: 300; 
}

// Enlaces
a { 
  color: $primario; 
  &:hover {
    color: $primario-2;
    text-decoration: none;
  }
}


// Fondos
.bg-primary { 
  background: linear-gradient(90deg, $primario 0%, $primario-2 100%); 
}

.bg-dark {
  background-color: $negro !important;
}

.bg-dark-2 { 
  background-color: $negro-2
}

// Botones
.btn {
  font-weight: 700;
  padding: .8rem 1rem;
  border: 0;
  border-radius: .4rem;
}

.btn-primary {
  background: linear-gradient(90deg, $primario 0%, $primario-2 100%); 
  color: $blanco;
}

.btn-secondary {
  background: $negro-3;
  color: $blanco;
  // Selector del padre
  &:hover {
     background: $negro-3;
     opacity: .8;
  }
}

// Formularios
.form-control {
    background-color: $negro-3;
    height: unset;
    padding: .8rem 1rem;
    border: 0;
}

.form-control:focus {
    background-color: $negro-3;
}

// Card
.card {
  border-radius: 1rem;
}

// Contenedor de icono
.icon-container {
    width: 50px;
    height: 50px;
    background-color: $primario;
}

// Sombras
.shadow {
  box-shadow:  0 .5rem .5rem 0 rgba(0,0,0,.5) !important;
}

// Border y redondeo
.border-top {
    border-top: 1px solid rgba(256, 256, 256, .1) !important;
}

.rounded-top {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

.rounded-bottom {
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
}

/* RESOLUCIONES */
@media (max-width: 575.98px) {
    // Lo que es 75% ahora ocupa el 100%
    .w-75 {
        width: 100% !important;
    }
    // Sobrescribimos el padding
    .py-5 {
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
    // Los botones ocupan todo
    .btn {
        width: 100%;
    }
    // Las listas son un bloque centrado
    .list-inline-item {
        display: block;
        text-align: center;
    }
    // El footer se centra
    footer {
        text-align: center;
    }
    // Las listas en bloque
    footer .list-inline-item {
        display: inline-block;
    }
    // alineado a la derecha
    footer .text-right {
        text-align: center !important;
    }
    // Pasa a ser bloque
    footer small {
        display: block;
    }
}